@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    font-family: "Raleway";
    scroll-behavior: smooth;
}

#body{
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    width: 85vw;
    height: 20vh;
}

input{
    height: 6vh;
    width: 60vw;
    padding-left: 12px;
    font-size: 16px;
}
button{
    height: 5vh;
    width: 8vw;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
    border: transparent;
}


.btn-submit{
    cursor: pointer;
    background-color: #a3b18a;
    color: white;
}


.outputDiv{
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 90vw;
    min-height: 30vh;
    margin: 5% 0;
    padding-top: 8%;
}
.btn-clearList{
    cursor: pointer;
    background-color: #bc4749;
    border-radius: 11px;
    color: white;
}

.topsection{
    position: absolute;
    top: 0;
    left: 0;
}
.count{
    background-color: black;
    color: white;
    font-size: 16px;
    padding:3px 9px;
    border-radius: 50px;
}

.card-items li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 70vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 25px;
    padding: 25px;
    margin: 10px 0;
}

.card-items li p{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.task{
    font-size: 24px;
}

.time{
    font-size: 12px;
    font-weight: 700;
    color: #bc4749;
    padding-top: 9px;
}

@media screen and (max-width:600px){
    .inputDiv{
        height: 12vh;
    }
    input{
        height: 4vh;
        width: 60vw;
        padding-left: 12px;
        font-size: 12px;
    }
    button{
        height: 25px;
        border-radius: 5px;
        margin: 5px;
        font-size: 10px;
        padding: 0 8px;
    }
    .btn-clearList, .btn-submit{
        width: fit-content;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
    .buttons button{
        position: relative;
        width: 100%;
    }

    .card-items li{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 15vh;
        width: 90vw;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 25px;
        padding: 20px 15px;
        margin: 8px 0;
    }
    .count{
        font-size: 8px;
        padding:2.5px 6px;
    }
    .task{
        font-size: 16px;
    }
}